<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>pathfinding test</title>

	<link rel="stylesheet" href="./test.css" />

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
	<script src="./pathfinding-browser.min.js" defer></script>
	<script src="./script.js" defer></script>
</head>
<body>

	<div id="app">
		<div v-for="(row, index) in grid">
			<div v-bind:id="'c-'+index2+'-'+index" v-for="(cell, index2) in row" v-bind:class="(cell == 1) ? 'wall' : ''" v-on:click="act(index2, index)">{{ cell }}</div>
		</div>

		<button v-on:click="findPath">Find Path</button>
	</div>

</body>
</html>