
html {
	font: 150%/1.4 -system-ui, Helvetica, sans-serif;
	color: #000;
	background-color: #ddd;
}

#app {
	margin: 10vh auto;
	width: 70%;
	background-color: #fff;
	padding: 1em;
	border-radius: 0.25em;
}

.grid {
	display: flex;
	flex-direction: column;
}

.grid > div {
	display: flex;
	flex-direction: row;
}

.grid > div > .tile {
	width: 2em;
	height: 2em;
	border: 1px solid #999;
	color: transparent;
	background-color: #eee;
}

.grid > div > .tile.wall {
	background-color: #bbb;
}

.grid > div > .tile.path {
	background-color: #ffef82;
}

.grid > div > .tile.wall.path { /* probably not needed */
	background-color: red;
}

.grid > div > .tile.start {
	background-color: pink;
}

.grid > div > .tile.end {
	background-color: #7adb7a;
}
